header(class="header")
  .container.flex-container
    .logo
      a(href="/")
        img(src="img/logo.png", alt="Bison")
    ul.menu.flex-container
      li 
        a(href="/home") Туры
      li 
        a(href="/") Достопримечательности
      li 
        a(href="/") Фото
      li 
        a(href="/") О нас
    button.btn-translator
      img(src="img/translator.svg", alt="translator")
    .btn-tours Выбрать тур